# ***Problem Statement 1:***

In each of the following situations, state whether it is a correctly stated hypothesis
testing problem and why?
   - 1. H0: Î¼ = 25, H1: Î¼ â‰  25
   - 2. H0: Ïƒ > 10, H1: Ïƒ = 10
   - 3. H0: x = 50, H1: x â‰  50
   - 4. H0: p = 0.1, H1: p = 0.5
   - 5. H0: s = 30, H1: s > 30

### **1.1** **`Solution`**:-

- `H0: Î¼ = 25, H1: Î¼ â‰  25` : **Correctly stated hypothesis testing**,
     - The Statement
          - H0: Î¼ = 25
          - is called **the null hypothesis**. this is a claim that is initially assumed to be true.
     - The Statement
          - H1: Î¼ â‰  25
          - is called **the alternative hypothesis** and it is a statement that contradicts the null hypothesis
- Because the alternative hypothesis specifies values of  Î¼ that could be either greater or less than 25, it is called a **two-sided alterative hypothesis**

### **1.2** **`Solution`**:-

- `H0: Ïƒ > 10, H1: Ïƒ = 10` : **Wrongly stated hypothesis testing**
- We will always state the null hypothesis as an equality claim. 
   - however,
     - when the **alternative hypothesis** is stated with the `< sign`, the implicit claim in the **null hypothesis** can be taken as `>=`.
     - when the **alternative hypothesis** is stated with the `> sign`. the implicit claim in the **null hypothesi**s can be taken as `<=`.

### **1.3** **`Solution`**:-

- `H0: x = 50, H1: x â‰  50` : **Wrongly stated hypothesis testing**
  - It is important to remember that **hypothesis are always statements about** the `population` or `distribution` under study, not statements about the sample.

### **1.4** **`Solution`**:-

- `H0: p = 0.1, H1: p = 0.5`: **Wrongly stated hypothesis testing**
   - Value in both hypothesis are **different**

### **1.5** **`Solution`**:-

- `H0: s = 30, H1: s > 30`: Wrongly stated hypothesis testing
   - Hypothesis are **always statements about** the `population` or `distribution` under study, not statements about the sample.

# ***Problem Statement 2:***

The college bookstore tells prospective students that the average cost of its textbooks is Rs. 52 with a standard deviation of Rs. 4.50. A group of smart statistics students thinks that the average cost is higher. To test the bookstoreâ€™s claim against their alternative, the students will select a random sample of size 100. Assume that the mean from their random sample is Rs. 52.80. Perform a hypothesis test at the 5% level of significance and state your decision.

#### **`Solution`**:-

#### Step - 1: Set The Hypothesis
- To test
    - H0: **mu = 52** 
    - H1: **mu > 52**

#### Step - 2: calculate the test statistics
![image](https://miro.medium.com/max/287/1*b7iZyQyP8SJ-W51x_L5ekg.png)

In [2]:
import math

n = 100           # Sample Size
x_bar = 52.80     # Sample Mean
mu = 52           # Population Mean
sigma = 4.50      # Standard Deviation of Population

In [5]:
Z_Test = (x_bar - mu) / (sigma /math.sqrt(n))
print("Z Test :",round(Z_Test, 2))

Z Test : 1.78

### Step â€“ 3 Set Rejection region
- Set up the alpha (level of significance). It is given in the problem.
- Considering alpha as `0.05`. 
- Tabulated z for 0.05 alpha (l.o.s) is `1.960`
- we have
   - **`Z(cal) = 1.78`**
   - **`Z(tab (0.05)) = 1.960`**

### Step â€“ 4 Conclude
- As per z test results
    - **`Z(tab (0.05)) > Z(cal)`**
- `z = 1.78` **(This test statistic lies in the Acceptance Region for Ho.)**
    - ***`Accept H0`*** 
- Based on this one sample of size 100 with a one-tailed test on the right and Î± = 0.05 , it seems as though we can not believe the bookstoreâ€™s claim that the mean cost of textbooks is Rs. 52. The higher value of Rs. 52.80 is probably due to random chance.

# ***Problem Statement 3:***
A certain chemical pollutant in the Genesee River has been constant for several years with mean Î¼ = 34 ppm (parts per million) and standard deviation Ïƒ = 8 ppm. A group of factory representatives whose companies discharge liquids into the river is now claiming that they have lowered the average with improved filtration devices. A group of environmentalists will test to see if this is true at the 1% level of significance. Assume \ that their sample of size 50 gives a mean of 32.5 ppm. Perform a hypothesis test at the 1% level of significance and state your decision.

#### **`Solution`**:-

#### Step - 1: Set The Hypothesis
- To test
    - H0: **mu = 34** 
    - H1: **mu < 34**

#### Step - 2: calculate the test statistics
![image](https://miro.medium.com/max/287/1*b7iZyQyP8SJ-W51x_L5ekg.png)

In [8]:
import math

n = 50           # Sample Size
x_bar = 32.5     # Sample Mean
mu = 34          # Population Mean
sigma = 8        # Standard Deviation of Population

In [7]:
Z_Test = (x_bar - mu) / (sigma /math.sqrt(n))
print("Z Test :",round(Z_Test, 2))

Z Test : -1.33

### Step â€“ 3 Set Rejection region
- Set up the alpha (level of significance). It is given in the problem.
- Considering alpha as `0.01`. 
- Tabulated z for 0.01 alpha (l.o.s) is `2.576`
- we have
   - **`Z(cal) = -1.33`**
   - **`Z(tab (0.01)) = 2.576`**

### Step â€“ 4 Conclude
- As per z test results
    - **`Z(tab (0.01)) > Z(cal)`**
- `z = -1.33` **(This test statistic lies in the Acceptance Region for H0.)**
    - ***`Accept H0`*** 

- Based on this one sample of size 50 with a one-tailed test on the left andÎ± = 0.01, it seems as though we can not believe the factories claim that the mean amount of pollutant is less than 34 ppm. The lower value of 32.5 ppm is probably due to random chance.

# ***Problem Statement 4:***
Based on population figures and other general information on the U.S. population, suppose it has been estimated that, on average, a family of four in the U.S. spends about $1135 annually on dental expenditures. Suppose further that a regional dental association wants to test to determine if this figure is accurate for their area of country. To test this, 22 families of 4 are randomly selected from the population in that area of the country and a log is kept of the familyâ€™s dental expenditure for one year. The resulting data are given below. Assuming, that dental expenditure is normally distributed in the population, use the data and an alpha of 0.5 to test the dental associationâ€™s hypothesis.

- `1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699, 872, 913, 944, 954, 987, 1695, 995, 1003, 994`

#### **`Solution`**:-

### Step 1:
- Plug the information into the formula and solve:

In [1]:
import numpy as np

In [5]:
data=[1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699, 872, 913, 944, 954, 987, 1695, 995, 1003, 994]

In [8]:
n = 22
x_bar = np.sum(data,axis=0)/len(data) 
mu = 1135
std = np.std(data)

![image](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3sKe0BHB81Qg4aushQhQ93u6V-uD2w-CY0g&usqp=CAU)

**where** ,
- `xÌ…` is the sample mean, 
- `Î¼` is the population mean, 
- `s` is the standard deviation of the sample, 
- `n` is the sample size.

In [23]:
t_score = (x_bar - mu)/ (std/n**0.5) 
print("Calculated t: ", round(t_score, 2))

Calculated t:  -2.07

### Step 2: 
- Subtract 1 from the sample size to get the degrees of freedom:
   - `df = n â€“ 1 = 21`

In [18]:
df = n - 1
alpha = 0.5

### Step 3: Set Rejection region
- Find the p-value in the t-table, using the degrees of freedom in
- Set up the alpha (level of significance). It is given in the problem.
- Considering alpha as `0.5`.

In [27]:
import scipy.stats as stats

upper = stats.t.ppf(1-(alpha/2),df=21)
lower = stats.t.ppf((alpha/2),df=21)
print("Critical Region: ", "(", round(lower, 3)," , ", round(upper, 3), ")")

Critical Region:  ( -0.686  ,  0.686 )


- Tabulated t for 0.5 alpha (l.o.s) is -0.686
- we have
   - **`t(cal) = -2.07`**
   - **`Critical Region:  ( -0.686  ,  0.686 )`**

### Step â€“ 4 Conclude
- As per t test results
   - `t = -2.07` **(This test statistic does not lies in the Critical Region)**
    - Hence we ***`Reject H0`***

# ***Problem Statement 5:***
In a report prepared by the Economic Research Department of a major bank the Department manager maintains that the average annual family income on Metropolis is 48432. What do you conclude about the validity of the report if a random sample of 400 families shows and average income of 48,574 with a standard deviation of 2000?

#### **`Solution`**:-

#### Step - 1: Set The Hypothesis
- To test
    - H0: **mu = 48432** 
    - H1: **mu != 48432**

#### Step - 2: calculate the test statistics
![image](https://miro.medium.com/max/287/1*b7iZyQyP8SJ-W51x_L5ekg.png)

In [9]:
import math

n = 400           # Sample Size
x_bar = 48574     # Sample Mean
mu = 48432        # Population Mean
sigma = 2000      # Standard Deviation of Population

In [10]:
Z_Test = (x_bar - mu) / (sigma /math.sqrt(n))
print("Z Test :",round(Z_Test, 2))

Z Test : 1.42

### Step â€“ 3 Set Rejection region
- Set up the alpha (level of significance). It is not given in the problem.
- Considering alpha as `0.05`. 
- Tabulated z for 0.05 alpha (l.o.s) is `1.960`
- we have
   - **`Z(cal) = 1.42`**
   - **`Z(tab (0.05)) = 1.960`**

### Step â€“ 4 Conclude
- As per z test results
    - **`Z(tab (0.01)) > Z(cal)`**
- `z = 1.42` **(This test statistic lies in the Acceptance Region for H0.)**
    - ***`Accept H0`*** 
- Based on this one sample of size 400 with a one-tailed test on the left andÎ± = 0.05, the Economic Research Department of a major bank the Department manager maintains that the average annual family income on Metropolis is 48432. the validity of the report is due to random sample.

# ***Problem Statement 6:***
Suppose that in past years the average price per square foot for warehouses in the United States has been 32.28. A national real estate investor wants to determine whether that figure has changed now. The investor hires a researcher who randomly samples 19 warehouses that are for sale across the United States and finds that the mean price per square foot is 31.67, with a standard deviation of 1.29. assume that the prices of warehouse footage are normally distributed in population. If the researcher uses a 5% level of significance, what statistical conclusion can be reached? What are the hypotheses?

#### **`Solution`**:-

### Step 1:
- Plug the information into the formula and solve:

In [28]:
n = 19
x_bar = 31.67 
mu = 32.28
std = 1.29

![image](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3sKe0BHB81Qg4aushQhQ93u6V-uD2w-CY0g&usqp=CAU)

**where** ,
- `xÌ…` is the sample mean, 
- `Î¼` is the population mean, 
- `s` is the standard deviation of the sample, 
- `n` is the sample size.

In [36]:
t_score = (x_bar - mu)/ (std/n**0.5) 
print("Calculated t: ", round(t_score, 2))

Calculated t:  -2.06

### Step 2: 
- Subtract 1 from the sample size to get the degrees of freedom:
   - `df = n â€“ 1 = 18`

In [32]:
df = n - 1
alpha = 0.05

### Step 3: Set Rejection region
- Find the p-value in the t-table, using the degrees of freedom in
- Set up the alpha (level of significance). It is given in the problem.
- Considering alpha as `0.05`.

In [38]:
import scipy.stats as stats

upper = stats.t.ppf(1-(alpha/2),df=18)
lower = stats.t.ppf((alpha/2),df=18)
print("Critical Region: ", "(", round(lower, 2)," , ", round(upper, 3), ")")

Critical Region:  ( -2.1  ,  2.101 )


- Tabulated t for 0.5 alpha (l.o.s) is -0.686
- we have
   - **`t(cal) = -2.06`**
   - **`Critical Region:  ( -2.101  ,  2.101 )`**

### Step â€“ 4 Conclude
- As per t test results
   - `t = -2.06` **(This test statistic lies in the Critical Region)**
    - Hence we ***`Accept H0`***

# ***Problem Statement 7:***
Fill in the blank spaces in the table and draw your conclusions from it.
![image.png](image1.png)

#### **`Solution`**:-

#### **1) Acceptance region**:  `48.5 < xÌ… < 51.5`

- **(a)** Calculate Beta at `mu_1 = 52`

In [109]:
import math 

n_1 = 10
std = 2.5
mu_1 = 52

p11 = (48.5 - mu_1) / (std / math.sqrt(n_1))
print("p11: ",round(p11, 3))
p12 = (51.5 - mu_1) / (std / math.sqrt(n_1))
print("p12 :",round(p12, 3))

p11:  -4.427
p12 : -0.632

In [110]:
# As p12 > p11, so our z score lies in between these two p12 < z < p11.
# Find probability at these z score

P11 = 0
P12 = 0.2643
# now Beta = p12 - p11
Beta11 = P12 - P11
print(f"Beta at mu_1 = 52 is : {Beta11}")

Beta at mu_1 = 52 is : 0.2643

- **(b)** Calculate Beta at `mu_2 = 50.5`

In [113]:
# Calculate Beta at Mu2 = 50.5
n_1 = 10
std =2.5
mu_2 =50.5

p13 = (48.5 - mu_2) / (std / math.sqrt(n_1))
print("p13 :",round(p13, 3))
p14 = (51.5 - mu_2)/(std / math.sqrt(n_1))
print("p14 :",round(p14, 3))

p13 : -2.53
p14 : 1.265

In [114]:
# so our z score lies in between these two p13 < z < p14.
# Find probability at these z score

P13 = 0.0057
P14 = 0.8962
# now Beta = p13 +(1 - p14)
Beta12 = P13 +(1- P14)
print(f"Beta at mu_2 = 50.5 is : {Beta12}")

Beta at mu_2 = 50.5 is : 0.1095

#### **2) Acceptance region**:  `48 < x < 51`

- **(a)** Calculate Beta at `mu_1 = 52`

In [117]:
n_2 = 10
std = 2.5
mu_1 = 52

p21 = (48.0 - mu_1) / (std / math.sqrt(n_2))
print("p21 :",round(p21, 3))
p22 = (51.0 - mu_1)/(std / math.sqrt(n_2))
print("p22 :",round(p22, 3))

p21 : -5.06
p22 : -1.265

In [118]:
# As p22 > p21, so our z score lies in between these two p22 < z < p21.
# Find probability at these z score
P21 = 0
P22 = 0.1038
# now Beta = p22 - p21
Beta21 = P22 - P21
print(f"Beta at mu_2 = 52 is : {Beta21}")

Beta at mu_2 = 52 is : 0.1038

- **(b)** Calculate Beta at `mu_2 = 50.5`

In [119]:
n_2 = 10
std = 2.5
mu_1 = 50.5

p23 = (48 - mu_1) / (std / math.sqrt(n_2))
print("p23 :",round(p23, 3))
p24 = (51.0 - mu_1)/(std / math.sqrt(n_2))
print("p24 :",round(p24, 3))

p23 : -3.162
p24 : 0.632

In [120]:
# so our z score lies in between these two p13 < z < p14.
# Find probability at these z score
P23 = 0.0008
P24 = 0.7357
# now Beta = p13 +(1 - p14)
Beta22 = P23 +(1- P24)
print(f"Beta at mu_2 = 50.5 is : {Beta22}")

Beta at mu_2 = 50.5 is : 0.2651

#### **3) Acceptance region**:  `48.81 < x < 51.9`

- **(a)** Calculate Beta at `mu_1 = 52`

In [121]:
n_3 = 16
std = 2.5
mu_1 = 52

p31 = (48.0 - mu_1) / (std / math.sqrt(n_3))
print("p31 :",round(p31, 3))
p32 = (51.0 - mu_1)/(std / math.sqrt(n_3))
print("p32 :",round(p32, 3))

p31 : -6.4
p32 : -1.6

In [122]:
# so our z score lies in between these two p31 < z < p32.
# Find probability at these z score
P31 = 0.4364
P32 = 0
# now Beta = p31 - p32
Beta31 = P31 - P32
print(f"Beta at mu_2 = 52 is : {Beta31}")

Beta at mu_2 = 52 is : 0.4364

- **(b)** Calculate Beta at `mu_2 = 50.5`

In [123]:
n_3 = 16
std = 2.5
mu_1 = 50.5

p33 = (48.0 - mu_1) / (std / math.sqrt(n_3))
print("p33 :",round(p33, 3))
p34 = (51.0 - mu_1)/(std / math.sqrt(n_3))
print("p34 :",round(p34, 3))

p33 : -4.0
p34 : 0.8

In [124]:
# so our z score lies in between these two p33 < z < 1- p34.
# Find probability at these z score
P33 = 0.0032
P34 = 0.9875
# now Beta = P33 + 1- P34
Beta32 = P33 +1 - P34
print(f"Beta at mu_2 = 50.5 is : {Beta32}")

Beta at mu_2 = 50.5 is : 0.015700000000000047

#### **4) Acceptance region**:  `48.42 <x < 51.58`

- **(a)** Calculate Beta at `mu_1 = 52`

In [125]:
n_4 = 16
std = 2.5
mu_1 = 52

p41 = (48.0 - mu_1) / (std / math.sqrt(n_4))
print("p41 :",round(p41, 3))
p42 = (51.0 - mu_1)/(std / math.sqrt(n_4))
print("p42 :",round(p42, 3))

p41 : -6.4
p42 : -1.6

In [126]:
# As P42> P41, so our z score lies in between these two p42 < z < p41.
# Find probability at these z score
P41 = 0.0
P42 = 0.2514
# now Beta = p31 - p32
Beta41 = P42 - P41
print(f"Beta at mu_2 = 52 is : {Beta41}")

Beta at mu_2 = 52 is : 0.2514

- **(b)** Calculate Beta at `mu_2 = 50.5`

In [127]:
n_4 = 16
std = 2.5
mu_1 = 52

p43 = (48.0 - mu_1) / (std / math.sqrt(n_4))
print("p43 :",round(p43, 3))
p44 = (51.0 - mu_1)/(std / math.sqrt(n_4))
print("p44 :",round(p44, 3))

p43 : -6.4
p44 : -1.6

In [128]:
# so our z score lies in between these two p33 < z < 1- p34.
# Find probability at these z score
P43 = 0.0035
P44 = 0.9875
# now Beta = P43 + 1- P44
Beta42 = P43 +(1 - P44)
print(f"Beta at mu2 = 50.5 is : {Beta42}")

Beta at mu2 = 50.5 is : 0.015999999999999955

# ***Problem Statement 8:***
Find the t-score for a sample size of 16 taken from a population with mean 10 when the sample mean is 12 and the sample standard deviation is 1.5.

#### **`Solution`**:-

### t-score :-
- Plug the information into the formula and solve:

In [2]:
n = 16
x_bar = 12
mu = 10
std = 1.5

![image](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3sKe0BHB81Qg4aushQhQ93u6V-uD2w-CY0g&usqp=CAU)

**where** ,
- `xÌ…` is the sample mean, 
- `Î¼` is the population mean, 
- `s` is the standard deviation of the sample, 
- `n` is the sample size.

In [3]:
t_score = (x_bar - mu)/ (std/n**0.5) 
print("t-score: ", round(t_score, 2))

t-score:  5.33

# ***Problem Statement 9:***
Find the t-score below which we can expect 99% of sample means will fall if samples of size 16 are taken from a normally distributed population.

#### **`Solution`**:-

### t-score :-
- Plug the information into the formula and solve:

In [4]:
n = 16  #sample size

In [5]:
alpha = (1 - 0.99) / 2

In [7]:
import scipy.stats as stats

t_score = stats.t.ppf(1-alpha,df=15)
print("t_score :- ",round(t_score, 2))

t_score :-  2.95

# ***Problem Statement 10:***
If a random sample of size 25 drawn from a normal population gives a mean of 60 and a standard deviation of 4, find the range of t-scores where we can expect to find the middle 95% of all sample means. Compute the probability that (âˆ’t0.05 <t<t0.10).

#### **`Solution`**:-

In [9]:
n = 25
std = 4
mean = 60
alpha = (1 - 0.95) / 2

- The Range of **`t-scores`**

In [17]:
t_score = stats.t.ppf(1 - alpha, df = 24)
upper_range = mean + t_score * (std / (n**0.5))
lower_range = mean - t_score * (std / (n**0.5))
print("Range of t-scores :- ", "(", round(upper_range, 2), " , ",round(lower_range, 2),")")

Range is :-  ( 61.65  ,  58.35 )

- Probability that (âˆ’ð‘¡0.05 < ð‘¡ <ð‘¡0.10)

In [20]:
p = stats.t.cdf(0.1, df = 24) - stats.t.cdf(-0.05, df = 24)
print(f"probability that (âˆ’t0.05 < t < t0.10) is {round(p, 2)}")

probability that (âˆ’t0.05 < t < t0.10) is 0.06

# ***Problem Statement 11:***
Two-tailed test for difference between two population means
Is there evidence to conclude that the number of people travelling from Bangalore to
Chennai is different from the number of people travelling from Bangalore to Hosur in
a week, given the following:
- Population 1: Bangalore to Chennai n1 = 1200
   - x1 = 452
   - s1 = 212
- Population 2: Bangalore to Hosur n2 = 800
   - x2 = 523
   - s2 = 185

#### **`Solution`**:-

### Step 1: 
- Set up hypotheses and determine level of significance
  - **To Test:** 
    - H0: `Î¼1 = Î¼2`
    - H1: `Î¼1 â‰  Î¼2`       
- at Î±=0.05

- Plug the information into the formula and solve:

In [23]:
n_1 = 1200       # no. of sample from popul 1 
n_2 = 800        # no. of sample from popul 1
x_bar_1 = 452    # mean of sample 1
x_bar_2 = 523    # mean of sample 2
std_1 = 212      # standard deviation of popul 1
std_2 = 185      # standard deviation of popul 2

### Step 2: 
- Select the appropriate test statistic.  
- Because both samples are large (> 30)
- we can use the Z test statistic

![image]()

- Where, 
    - Numerator is SE (Standard Error)  
    - x_bar_1 = mean of sample 1
    - x_bar_2 = mean of sample 2

![image](https://getcalc.com/formula/statistics/standard-error-two-sample-means-difference.png)

- First we calculate **Standard Error**

In [29]:
std_1_sq = std_1**2
std_2_sq = std_2**2

SE = ((std_1_sq / n_1) + (std_2_sq / n_2))**0.5
print("Standard Error:- ", round(SE, 3))

Standard Error:-  8.957

- **Z-score**

In [30]:
z_score = (x_bar_1 - x_bar_2) / SE
print("Z_Score :", round(z_score, 2))

Z_Score : -7.93

### Step â€“ 3 Set Rejection region
- Set up the alpha (level of significance). It is not given in the problem.
- Considering alpha as `0.05`.

In [33]:
from scipy.stats import norm

alpha = 0.05
right_region = -norm.ppf(alpha / 2)
left_region =  norm.ppf(alpha / 2)

print("Critical region: ","(",round(left_region, 3), " , ", round(right_region, 3),")")

Critical region:  ( -1.96  ,  1.96 )

 
- Tabulated z for 0.05 alpha (l.o.s) is `1.96`
- we have
   - **`Z(cal) = -7.93`**
   - **`Critical Region:  ( -1.96 , 1.96 )`**

### Step â€“ 4 Conclude
- As per t test results
   - `z = -7.93` **(This test statistic does not lies in the Critical Region)**
    - Hence we ***`Reject H0`*** at 5% l.o.s
- So,number of people travelling from Bangalore to Chennai is different from the number of people travelling from Bangalore to Hosur in a week.

# ***Problem Statement 12:***
Is there evidence to conclude that the number of people preferring Duracell battery is
different from the number of people preferring Energizer battery, given the following:
- Population 1: Duracell
   - n1 = 100
   - x1 = 308
   - s1 = 84
- Population 2: Energizer
   - n2 = 100
   - x2 = 254
   - s2 = 67

#### **`Solution`**:-

### Step 1: 
- Set up hypotheses and determine level of significance
  - **To Test:** 
    - **H0:** `No. of people preferring Duracell battery is not different from the number of people preferring Energizer battery`
    - V/S
    - **H1:** `No. of people preferring Duracell battery is different from the number of people preferring Energizer battery`       
- at Î±=0.05

- Plug the information into the formula and solve:

In [34]:
n_1 = 100        # no. of sample from popul 1 
n_2 = 100        # no. of sample from popul 1
x_bar_1 = 308    # mean of sample 1
x_bar_2 = 254    # mean of sample 2
std_1 = 84       # standard deviation of popul 1
std_2 = 67       # standard deviation of popul 2

### Step 2: 
- Select the appropriate test statistic.  
- Because both samples are large (> 30)
- we can use the Z test statistic

![image]()

- Where, 
    - Numerator is SE (Standard Error)  
    - x_bar_1 = mean of sample 1
    - x_bar_2 = mean of sample 2

![image](https://getcalc.com/formula/statistics/standard-error-two-sample-means-difference.png)

- First we calculate **Standard Error**

In [35]:
std_1_sq = std_1**2
std_2_sq = std_2**2

SE = ((std_1_sq / n_1) + (std_2_sq / n_2))**0.5
print("Standard Error:- ", round(SE, 3))

Standard Error:-  10.745

- **Z-score**

In [36]:
z_score = (x_bar_1 - x_bar_2) / SE
print("Z_Score :", round(z_score, 2))

Z_Score : 5.03

### Step â€“ 3 Set Rejection region
- Set up the alpha (level of significance). It is not given in the problem.
- Considering alpha as `0.05`.

In [37]:
from scipy.stats import norm

alpha = 0.05
right_region = -norm.ppf(alpha / 2)
left_region =  norm.ppf(alpha / 2)

print("Critical region: ","(",round(left_region, 3), " , ", round(right_region, 3),")")

Critical region:  ( -1.96  ,  1.96 )

 
- Tabulated z for 0.05 alpha (l.o.s) is `1.96`
- we have
   - **`Z(cal) = 5.03`**
   - **`Critical Region:  ( -1.96 , 1.96 )`**

### Step â€“ 4 Conclude
- As per t test results
   - `z = 5.03` **(This test statistic does not lies in the Critical Region)**
    - Hence we ***`Reject H0`*** at 5% l.o.s
- So, Number of people preferring Duracell battery is different from the number of people preferring Energizer battery.

# ***Problem Statement 13:***
Pooled estimate of the population variance
Does the data provide sufficient evidence to conclude that average percentage
increase in the price of sugar differs when it is sold at two different prices?
- Population 1: Price of sugar = Rs. 27.50 n1 = 14
   - x1 = 0.317%
   - s1 = 0.12%
- Population 2: Price of sugar = Rs. 20.00 n2 = 9
   - x2 = 0.21%
   - s2 = 0.11%

#### **`Solution`**:-

### Step 1: 
- Set up hypotheses and determine level of significance
  - **To Test:** 
    - **H0:** `Average percentage do not increase in the price of sugar differs when it is sold at two different prices`
    - V/S
    - **H1:** `Average percentage increase in the price of sugar differs when it is sold at two different prices`       
- at Î±=0.05

- Plug the information into the formula and solve:

In [38]:
n_1 = 14           # no. of sample from popul 1 
n_2 = 9            # no. of sample from popul 1
x_bar_1 = 0.317    # mean of sample 1
x_bar_2 = 0.21     # mean of sample 2
std_1 = 0.12       # standard deviation of popul 1
std_2 = 0.11       # standard deviation of popul 2

![image](https://graziano-raulin.com/images/formula%20for%202%20sample%20t.png)

- First we calculate **Standard Error**
- which is numerator of t-score

In [83]:
std_1_sq = std_1**2
std_2_sq = std_2**2
n = (n_1 + n_2 - 2)
first_term = (((n_1 - 1) * std_1_sq) + ((n_2 - 1) * std_2_sq)) / n
second_term = ((1 / n_1) + (1 / n_2))

In [84]:
SE = (first_term * second_term)**0.5
print("Standard Error:- ", round(SE, 3))

Standard Error:-  0.05

- **t-score**

In [85]:
t_score = (x_bar_1 - x_bar_2) / SE 
print("t_Score :", round(t_score, 3))

t_Score : 2.154

### Step â€“ 3 Set Rejection region
- Set up the alpha (level of significance). It is not given in the problem.
- Considering alpha as `0.05`.

In [91]:
from scipy.stats import norm

alpha = 0.05
right_region = stats.t.ppf(1 - 0.05, df = n)
left_region =  -stats.t.ppf(1 - 0.05, df = n)

print("Critical region: ","(",round(left_region, 3), " , ", round(right_region, 3),")")

Critical region:  ( -1.721  ,  1.721 )

 
- Tabulated z for 0.05 alpha (l.o.s) is `1.721`
- we have
   - **`t(cal) = 2.154`**
   - **`Critical Region:  ( -1.721  ,  1.721 )`**

### Step â€“ 4 Conclude
- As per t test results
   - `t = 2.154` **(This test statistic does not lies in the Critical Region)**
    - Hence we ***`Reject H0`*** at 5% l.o.s
- So, Average percentage increase in the price of sugar differs when it is sold at two different prices.

# ***Problem Statement 14:***
The manufacturers of compact disk players want to test whether a small price
reduction is enough to increase sales of their product. Is there evidence that the
small price reduction is enough to increase sales of compact disk players?
- Population 1: Before reduction
   - n1 = 15
   - x1 = Rs. 6598 s1 = Rs. 844
- Population 2: After reduction n2 = 12
   - x2 = RS. 6870
   - s2 = Rs. 669

#### **`Solution`**:-

### Step 1: 
- Set up hypotheses and determine level of significance
  - **To Test:** 
    - **H0:** `Average price remains same`
    - V/S
    - **H1:** `Average price does not remains same`       
- at Î±=0.05

- Plug the information into the formula and solve:

In [92]:
n_1 = 15            # no. of sample from popul 1 
n_2 = 12            # no. of sample from popul 1
x_bar_1 = 6598      # mean of sample 1
x_bar_2 = 6870      # mean of sample 2
std_1 = 844         # standard deviation of popul 1
std_2 = 669         # standard deviation of popul 2

![image](https://graziano-raulin.com/images/formula%20for%202%20sample%20t.png)

- First we calculate **Standard Error**
- which is numerator of t-score

In [93]:
std_1_sq = std_1**2
std_2_sq = std_2**2
n = (n_1 + n_2 - 2)
first_term = (((n_1 - 1) * std_1_sq) + ((n_2 - 1) * std_2_sq)) / n
second_term = ((1 / n_1) + (1 / n_2))

In [94]:
SE = (first_term * second_term)**0.5
print("Standard Error:- ", round(SE, 3))

Standard Error:-  298.957

- **t-score**

In [95]:
t_score = (x_bar_1 - x_bar_2) / SE 
print("t_Score :", round(t_score, 3))

t_Score : -0.91

### Step â€“ 3 Set Rejection region
- Set up the alpha (level of significance). It is not given in the problem.
- Considering alpha as `0.05`.

In [96]:
from scipy.stats import norm

alpha = 0.05
right_region = stats.t.ppf(1 - 0.05, df = n)
left_region =  -stats.t.ppf(1 - 0.05, df = n)

print("Critical region: ","(",round(left_region, 3), " , ", round(right_region, 3),")")

Critical region:  ( -1.708  ,  1.708 )

 
- Tabulated t for 0.05 alpha (l.o.s) is `1.708`
- we have
   - **`t(cal) = -0.91`**
   - **`Critical Region:  ( -1.708  ,  1.708 )`**

### Step â€“ 4 Conclude
- As per t test results
   - `t = -0.91` **(This test statistic lies in the Critical Region)**
    - Hence we ***`Accept H0`*** at 5% l.o.s
- So, Average price remains same.

# ***Problem Statement 15:***
Comparisons of two population proportions when the hypothesized difference is zero
Carry out a two-tailed test of the equality of banksâ€™ share of the car loan market in
1980 and 1995.
- Population 1: 1980
   - n1 = 1000
   - x1 = 53
   - p_cap_1 = 0.53
- Population 2: 1985
   - n2 = 100
   - x2 = 43
   - p_cap_2= 0.53

#### **`Solution`**:-

### Step 1: 
- Set up hypotheses and determine level of significance
  - **To Test:** 
    - **H0:** `P1 = P2`
    - V/S
    - **H1:** `P1 â‰  P2`       
- at Î±=0.05

- Plug the information into the formula and solve:

In [36]:
n1 = 1000 
n2 = 100 
x1 = 53 
x2 = 43 
p_cap_1 = 0.53 
p_cap_2 = 0.53

- **Formulate an analysis plan** For this analysis, the significance level is 0.05. The test method is a two-proportion z-test.

### Step 2:  Pooled sample proportion. 
- Since the null hypothesis states that P1 = P2, we use a pooled sample proportion (p) to compute the standard error of the sampling distribution.
- we combine the samples to create a pooled proportion. Here,  We use the pooled proportion as an estimate for both population proportions.
   - `p_cap = (x1 + x2) / (n1 + n2)`

  - **where**,
     - x1 and x2 are the numbers of successes in the respective samples of sizes n1 and n2. 
     - n1 is the size of sample 1, 
     - n2 is the size of sample 2.

In [40]:
p_cap = (x1 + x2) / (n1 + n2)

### Step 3: Standard error. 
- Compute the standard error (SE) of the sampling distribution difference between two proportions.
   - `SE = sqrt{ p_cap * ( 1 - p_cap ) * [ (1/n1) + (1/n2) ] }`

   - **where**,
     - p_cap is the pooled sample proportion, 
     - n1 is the size of sample 1,
     - n2 is the size of sample 2.

In [41]:
SE = (p_cap * ( 1 - p_cap ) * ( (1 / n1) + (1 / n2) ))**0.5
print("Standard Error: ",round(SE, 3))

Standard Error:  0.03

### Step 4 Test statistic. 
- The test statistic is a z-score (z) defined by the following equation.
   - `z = (p_cap_1 - p_cap_2) - (p1 - p2) / SE`
   - **where**, 
      - p_cap_1 is the proportion from sample 1, 
      - p_cap_2 is the proportion from sample 2, 
      - SE is the standard error of the sampling distribution.
- Since p1 âˆ’ p2 = 0 in the null hypothesis, the Z-test statistic simplifies to the following:
    - `z = (p_cap_1 - p_cap_2) / SE`

In [42]:
z = (p_cap_1 - p_cap_2) / SE
print("z-score : ",round(z,5))

z-score :  0.0

### Step â€“ 5 Set Rejection region
- Set up the alpha (level of significance). It is not given in the problem.
- Considering alpha as `0.05`.

In [22]:
from scipy.stats import norm

alpha = 0.05
right_region = -norm.ppf(0.05)
left_region =  norm.ppf(0.05)

print("Critical region: ","(",round(left_region, 3), " , ", round(right_region, 3),")")

Critical region:  ( -1.645  ,  1.645 )

 
- Tabulated z for 0.05 alpha (l.o.s) is `1.645`
- we have
   - **`z(cal) = 0.0`**
   - **`Critical Region:  ( -1.645  ,  1.645 )`**

### Step â€“ 6 Conclude
- As per z test results
   - `z = 0.0` **(This test statistic lies in the Critical Region)**
    - Hence we ***`Accept H0`*** at 5% l.o.s

# ***Problem Statement 16:***
Carry out a one-tailed test to determine whether the population proportion of
travelerâ€™s check buyers who buy at least $2500 in checks when sweepstakes prizes
are offered as at least 10% higher than the proportion of such buyers when no
sweepstakes are on.
- Population 1: With sweepstakes
   - n1 = 300
   - x1 = 120
   - p_cap_1 = 0.40
- Population 2: No sweepstakes n2 = 700
   - x2 = 140
   - p_cap_2= 0.20

#### **`Solution`**:-

### Step 1: 
- Set up hypotheses and determine level of significance
  - **To Test:** 
    - **H0:** `P1 = P2`
    - V/S
    - **H1:** `P1 â‰  P2`       
- at Î±=0.05

In [53]:
n1 = 300 
n2 = 700
x1 = 120
x2 = 140  
p_cap_1 = 0.40
p_cap_2 = 0.20

- **Formulate an analysis plan** For this analysis, the significance level is 0.05. The test method is a two-proportion z-test.

### Step 2:  Pooled sample proportion. 
- Since the null hypothesis states that P1 = P2, we use a pooled sample proportion (p) to compute the standard error of the sampling distribution.
- we combine the samples to create a pooled proportion. Here,  We use the pooled proportion as an estimate for both population proportions.
   - `p_cap = (x1 + x2) / (n1 + n2)`

  - **where**,
     - x1 and x2 are the numbers of successes in the respective samples of sizes n1 and n2. 
     - n1 is the size of sample 1, 
     - n2 is the size of sample 2.

In [55]:
p_cap = (x1 + x2) / (n1 + n2)

### Step 3: Standard error. 
- Compute the standard error (SE) of the sampling distribution difference between two proportions.
   - `SE = sqrt{ p_cap * ( 1 - p_cap ) * [ (1/n1) + (1/n2) ] }`

   - **where**,
     - p_cap is the pooled sample proportion, 
     - n1 is the size of sample 1,
     - n2 is the size of sample 2.

In [56]:
SE = (p_cap * ( 1 - p_cap ) * ( (1 / n1) + (1 / n2) ))**0.5
print("Standard Error: ",round(SE, 3))

Standard Error:  0.03

### Step 4 Test statistic. 
- The test statistic is a z-score (z) defined by the following equation.
   - `z = (p_cap_1 - p_cap_2) - (p1 - p2) / SE`
   - **where**, 
      - p_cap_1 is the proportion from sample 1, 
      - p_cap_2 is the proportion from sample 2, 
      - SE is the standard error of the sampling distribution.
- Since p1 âˆ’ p2 = 0 in the null hypothesis, the Z-test statistic simplifies to the following:
    - `z = (p_cap_1 - p_cap_2) / SE`

In [58]:
z = (p_cap_1 - p_cap_2 - 0.1) / SE
print("z-score : ",round(z, 3))

z-score :  3.304

### Step â€“ 5 Set Rejection region
- Set up the alpha (level of significance). It is not given in the problem.
- Considering alpha as `0.05`.

In [59]:
from scipy.stats import norm

alpha = 0.05
right_region = -norm.ppf(0.05)
left_region =  norm.ppf(0.05)

print("Critical region: ","(",round(left_region, 3), " , ", round(right_region, 3),")")

Critical region:  ( -1.645  ,  1.645 )

 
- Tabulated z for 0.05 alpha (l.o.s) is `1.645`
- we have
   - **`z(cal) = 3.304`**
   - **`Critical Region:  ( -1.645  ,  1.645 )`**

### Step â€“ 6 Conclude
- As per z test results
   - `z = 3.304` **(This test statistic does not lies in the Critical Region)**
    - Hence we ***`Reject H0`*** at 5% l.o.s

# ***Problem Statement 17:***
A die is thrown 132 times with the following results: 
- Number turned up: 1, 2, 3, 4, 5, 6 
- Frequency: 16, 20, 25, 14, 29, 28
Is the die unbiased? Consider the degrees of freedom as p âˆ’ .

#### **`Solution`**:-

In [246]:
f_obs= [16, 20, 25, 14, 29, 28]
f_exp= [22,22,22,22,22,22]
result=stats.chisquare(f_obs,f_exp)
chi_squared_stat = result[0]
print("Chi Square : ",round(chi_squared_stat,3))

Chi Square :  9.0

In [247]:
print(f"Chi square value is {chi_squared_stat} and p-value is {result[1]}")
print('Dias is unbiased.')

Chi square value is 9.0 and p-value is 0.1090641579497725
Dias is unbiased.

# ***Problem Statement 18:***
In a certain town, there are about one million eligible voters. A simple random sample of 10,000 eligible voters was chosen to study the relationship between gender and participation in the last election. The results are summarized in the following 2X2 (read two by two) contingency table:
![image](image2.png)
We would want to check whether being a man or a woman (columns) is independent of having voted in the last election (rows). In other words, is â€œgender and voting independentâ€?

#### **`Solution`**:-

In [106]:
import numpy as np
import pandas as pd
import scipy.stats as stats

voted_list = [3591, 2792]
not_voted_list = [2131, 1486]
value = voted_list + no_voted_list

vote = ["Not Voted","Not Voted","Voted","Voted"]
gender = ["Women",'Men','Women','Men']
df = pd.DataFrame({"Gender":gender,"Vote":vote,"Value":value})

In [107]:
df

  Gender       Vote  Value
0  Women  Not Voted   3591
1    Men  Not Voted   2792
2  Women      Voted   2131
3    Men      Voted   1486

In [108]:
table = pd.pivot_table(df, values='Value', index = 'Vote', columns= 'Gender', aggfunc = np.sum, margins=True)

In [109]:
table.rename(columns={'All':'Row_Total'}, inplace = True)
table.index = ["Voted","Not Voted","Col_Total"]

In [110]:
table

Gender      Men  Women  Row_Total
Voted      2792   3591       6383
Not Voted  1486   2131       3617
Col_Total  4278   5722      10000

### Chi-Square test of independence 
- To Test:
   - H0 : The two categorical variables are independent.
   - H1 : The two categorical variables are dependent.

### Step 1: Observed frequencies
- Our data are summarized in the contingency table below reporting the number of people in each subgroup, totals by row, by column and the grand total:

In [111]:
obs_table = table.iloc[0:2,0:2]   
obs_table

Gender      Men  Women
Voted      2792   3591
Not Voted  1486   2131

### Step 2: Expected frequencies
- Remember that for the Chi-square test of independence we need to determine whether the observed counts are significantly different from the counts that we would expect if there was no association between the two variables. 
- We have the observed counts (see the table above), so we now need to compute the expected counts in the case the variables were independent. 
- These expected frequencies are computed for each subgroup one by one with the following formula:

 
![image](https://journal.ahima.org/wp-content/uploads/2015/10/Expected-Cell-Frequency-Equation.png)

In [92]:
exp_freq =  np.outer(table['Row_Total'][0:2], table.loc["Col_Total"][0:2]) / 10000
exp_freq = pd.DataFrame(exp_freq)
exp_freq.columns = ["Men","Women"]
exp_freq.index = ["Voted","Not Voted"]

- where obs. correspond to observations. Given our table of observed frequencies above, below is the table of the expected frequencies computed for each subgroup:

In [93]:
exp_freq

                 Men      Women
Voted      2730.6474  3652.3526
Not Voted  1547.3526  2069.6474

### Step 3: Test statistic
- We have the observed and expected frequencies. We now need to compare these frequencies to determine if they differ significantly. The difference between the observed and expected frequencies, referred as the test statistic (or t-stat) and denoted Ï‡2, is computed as follows:
![image](https://www.thoughtco.com/thmb/ns7d4DC1AqVGme2p1-WYqC26r_s=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/latex_ac74fec08532861eb5f8b87226ebf396-5c59a6fcc9e77c00016b4195.jpg)

In [95]:
chi_squared_stat = (((obs_table-exp_freq)**2) / exp_freq).sum().sum()

print("Chi Squar : ",round(chi_squared_stat, 3))

Chi Squar :  6.66

### Step 4: Critical value
- The test statistic alone is not enough to conclude for independence or dependence between the two variables. As previously mentioned, this test statistic must be compared to a critical value to determine whether the difference is large or small. 
- The critical value can be found in the statistical table of the Chi-square distribution and depends on the significance level, denoted Î±Î±, and the degrees of freedom, denoted dfdf. The significance level is usually set equal to 5%. The degrees of freedom for a Chi-square test of independence is found as follow:

   **`df = (number of rows âˆ’ 1) â‹… (number of columns âˆ’ 1)`**

- In our example, the degrees of freedom is thus

In [96]:
df = ( 2 - 1) * ( 2 - 1 )
print("Degrees of Freedom: " ,df)

Degrees of Freedom:  1

- since there are two rows and two columns in the contingency table

In [100]:
cri_val = stats.chi2.ppf(q = 0.95, df = 1)   # 95% confidence
print("Critical value : ",round(cri_val, 3))

p_value = 1 - stats.chi2.cdf(x = chi_squared_stat, df=1)
print("P value        :  ",round(p_value,4))
print()

Critical value :  3.841
P value        :   0.0099

- We now have all the necessary information to find the critical value in the Chi-square table (Î± = 0.05 and df = 1). 
- The critical value is `3.841`

#### Step 5: Conclusion and interpretation
- Now that we have the test statistic and the critical value, we can compare them to check whether the null hypothesis of independence of the variables is rejected or not. In our example,

    **`test statistic (6.66) > critical value (3.841)`**

- therefore **`reject the null hypothesis`** and conclude that the votes depends on gender at a 5% level of significance.

# ***Problem Statement 19:***

#### **`Solution`**:-

In [229]:
from scipy.stats import chi2_contingency

### Chi-Square test of independence 
- To Test:
   - H0 : All candidates are equally popular.
   - H1 : All candidates are not equally popular.

In [239]:
#print(np.mean([41,19,24,16]))
obs=[41,19,24,16]
exp=[25,25,25,25]
result=stats.chisquare(obs,exp)

chi_squared_stat = result[0]
print("Chi Square : ",round(chi_squared_stat,3))

Chi Square :  14.96

### Critical value
- The test statistic alone is not enough to conclude for independence or dependence between the two variables. As previously mentioned, this test statistic must be compared to a critical value to determine whether the difference is large or small. 
- The critical value can be found in the statistical table of the Chi-square distribution and depends on the significance level, denoted Î±Î±, and the degrees of freedom, denoted dfdf. The significance level is usually set equal to 1%. The degrees of freedom for a Chi-square test of independence is found as follow:

   **`df = (number of rows âˆ’ 1) â‹… (number of columns âˆ’ 1)`**

- In our example, the degrees of freedom is thus

In [244]:
df = ( 4 - 1) * ( 2 - 1 )
print("Degrees of Freedom: " ,df)

Degrees of Freedom:  3

- since there are one rows and four columns in the contingency table

In [245]:
cri_val = stats.chi2.ppf(q = 0.99, df = 3)   # 99% confidence
print("Critical value : ",round(cri_val, 3))

p_value = 1 - stats.chi2.cdf(x = chi_squared_stat, df = 3)
print("P value        :  ",round(p_value,4))
print()

Critical value :  11.345
P value        :   0.0019

- We now have all the necessary information to find the critical value in the Chi-square table (Î± = 0.01 and df = 3). 
- The critical value is `11.345`

### Conclusion and interpretation
- Now that we have the test statistic and the critical value, we can compare them to check whether the null hypothesis of independence of the variables is rejected or not. In our example,

    **`test statistic (14.96) > critical value (11.345)`**

- therefore **`reject the null hypothesis`** and conclude that All candidates are not equally popular at a 1% level of significance.

# ***Problem Statement 20:***
Children of three ages are asked to indicate their preference for three photographs of adults. Do the data suggest that there is a significant relationship between age and photograph preference? What is wrong with this study? [Chi-Square = 29.6, with 4 df: ð‘ < 0.05].Children of three ages are asked to indicate their preference for three photographs of adults. Do the data suggest that there is a significant relationship between age and photograph preference? What is wrong with this study? [Chi-Square = 29.6, with 4 df: ð‘ < 0.05].
![image](image3.png)

#### **`Solution`**:-

### Chi-Square test of independence 
- To Test:
   - H0 : There is no significant relationship between age and photograph preference.
   - H1 : There is significant relationship between age and photograph preference.

In [235]:
obs=([[18,22,20],[2,28,40],[20,10,40]])
result = chi2_contingency(obs)
chi_squared_stat = result[0]
print("Chi Square : ",round(chi_squared_stat,3))

Chi Square :  29.603

### Critical value
- The test statistic alone is not enough to conclude for independence or dependence between the two variables. As previously mentioned, this test statistic must be compared to a critical value to determine whether the difference is large or small. 
- The critical value can be found in the statistical table of the Chi-square distribution and depends on the significance level, denoted Î±Î±, and the degrees of freedom, denoted dfdf. The significance level is usually set equal to 1%. The degrees of freedom for a Chi-square test of independence is found as follow:

   **`df = (number of rows âˆ’ 1) â‹… (number of columns âˆ’ 1)`**

- In our example, the degrees of freedom is thus

In [234]:
df = ( 3 - 1) * ( 3 - 1 )
print("Degrees of Freedom: " ,df)

Degrees of Freedom:  4

- since there are three rows and three columns in the contingency table

In [238]:
cri_val = stats.chi2.ppf(q = 0.99, df = 4)   # 99% confidence
print("Critical value : ",round(cri_val, 3))

p_value = 1 - stats.chi2.cdf(x = chi_squared_stat, df = 4)
print("P value        :  ",round(p_value,4))
print()

Critical value :  13.277
P value        :   0.0

- We now have all the necessary information to find the critical value in the Chi-square table (Î± = 0.01 and df = 4). 
- The critical value is `13.277`

### Conclusion and interpretation
- Now that we have the test statistic and the critical value, we can compare them to check whether the null hypothesis of independence of the variables is rejected or not. In our example,

    **`test statistic (29.603) > critical value (13.277)`**

- therefore **`reject the null hypothesis`** and conclude that There is significant relationship between age and photograph preference at a 1% level of significance.

# ***Problem Statement 21:***
A study of conformity using the Asch paradigm involved two conditions: one where one confederate supported the true judgement and another where no confederate gave the correct response.
![image](image4.png)
Is there a significant difference between the "support" and "no support" conditions in the frequency with which individuals are likely to conform? [Chi-Square = 19.87, with 1 df: ð‘ < 0.05].

#### **`Solution`**:-

In [131]:
import numpy as np
import pandas as pd
import scipy.stats as stats

conform_list = [32, 10]
no_conform_list = [18, 40]
value = conform_list + no_conform_list

con = ["Not Conform","Not Conform","Conform","Conform"]
supp = ["Not Support",'Support','Not Support','Support']
df = pd.DataFrame({"Supp":supp,"Con":con,"Value":value})

In [132]:
df

          Supp          Con  Value
0  Not Support  Not Conform     32
1      Support  Not Conform     10
2  Not Support      Conform     18
3      Support      Conform     40

In [133]:
table = pd.pivot_table(df, values='Value', index = 'Con', columns= 'Supp', aggfunc = np.sum, margins=True)

In [136]:
table.rename(columns={"Not Support":"Support",'Support':'Not Support','All':'Row_Total'}, inplace = True)
table.index = ["Conform","Not Conform","Col_Total"]

In [137]:
table

Supp         Support  Not Support  Row_Total
Conform           18           40         58
Not Conform       32           10         42
Col_Total         50           50        100

### Chi-Square test of independence 
- To Test:
   - H0 : The two categorical variables are independent.
   - H1 : The two categorical variables are dependent.

### Step 1: Observed frequencies
- Our data are summarized in the contingency table below reporting the number of people in each subgroup, totals by row, by column and the grand total:

In [138]:
obs_table = table.iloc[0:2,0:2]   
obs_table

Supp         Support  Not Support
Conform           18           40
Not Conform       32           10

### Step 2: Expected frequencies
- Remember that for the Chi-square test of independence we need to determine whether the observed counts are significantly different from the counts that we would expect if there was no association between the two variables. 
- We have the observed counts (see the table above), so we now need to compute the expected counts in the case the variables were independent. 
- These expected frequencies are computed for each subgroup one by one with the following formula:

 
![image](https://journal.ahima.org/wp-content/uploads/2015/10/Expected-Cell-Frequency-Equation.png)

In [161]:
exp_freq =  np.outer(table['Row_Total'][0:2], table.loc["Col_Total"][0:2]) / 100
exp_freq = pd.DataFrame(exp_freq)
exp_freq.columns = ["Support","Not Support"]
exp_freq.index = ["Conform","Not Conform"]

- where obs. correspond to observations. Given our table of observed frequencies above, below is the table of the expected frequencies computed for each subgroup:

In [162]:
exp_freq

             Support  Not Support
Conform         29.0         29.0
Not Conform     21.0         21.0

### Step 3: Test statistic
- We have the observed and expected frequencies. We now need to compare these frequencies to determine if they differ significantly. The difference between the observed and expected frequencies, referred as the test statistic (or t-stat) and denoted Ï‡2, is computed as follows:
![image](https://www.thoughtco.com/thmb/ns7d4DC1AqVGme2p1-WYqC26r_s=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/latex_ac74fec08532861eb5f8b87226ebf396-5c59a6fcc9e77c00016b4195.jpg)

In [163]:
chi_squared_stat = (((obs_table - exp_freq)**2) / exp_freq).sum().sum()

print("Chi Squar : ",round(chi_squared_stat, 3))

Chi Squar :  19.869

### Step 4: Critical value
- The test statistic alone is not enough to conclude for independence or dependence between the two variables. As previously mentioned, this test statistic must be compared to a critical value to determine whether the difference is large or small. 
- The critical value can be found in the statistical table of the Chi-square distribution and depends on the significance level, denoted Î±Î±, and the degrees of freedom, denoted dfdf. The significance level is usually set equal to 5%. The degrees of freedom for a Chi-square test of independence is found as follow:

   **`df = (number of rows âˆ’ 1) â‹… (number of columns âˆ’ 1)`**

- In our example, the degrees of freedom is thus

In [153]:
df = ( 2 - 1) * ( 2 - 1 )
print("Degrees of Freedom: " ,df)

Degrees of Freedom:  1

- since there are two rows and two columns in the contingency table

In [166]:
cri_val = stats.chi2.ppf(q = 0.95, df = 1)   # 95% confidence
print("Critical value : ",round(cri_val, 3))

p_value = 1 - stats.chi2.cdf(x = chi_squared_stat, df=1)
print("P value        : ",round(p_value,4))
print()

Critical value :  3.841
P value        :  0.0

- We now have all the necessary information to find the critical value in the Chi-square table (Î± = 0.05 and df = 1). 
- The critical value is `3.841`

#### Step 5: Conclusion and interpretation
- Now that we have the test statistic and the critical value, we can compare them to check whether the null hypothesis of independence of the variables is rejected or not. In our example,

    **`test statistic (19.86) > critical value (3.841)`**

- therefore **`reject the null hypothesis`** and The two categorical variables are dependent. on support at a 5% level of significance.

# ***Problem Statement 22:***
We want to test whether short people differ with respect to their leadership qualities (Genghis Khan, Adolf Hitler and Napoleon were all stature-deprived, and how many midget MP's are there?) The following table shows the frequencies with which 43 short people and 52 tall people were categorized as "leaders", "followers" or as "unclassifiable". Is there a relationship between height and leadership qualities? [Chi-Square = 10.71, with 2 df: ð‘ < 0.01].
![image](image5.png)

#### **`Solution`**:-

In [195]:
import numpy as np
import pandas as pd
import scipy.stats as stats

lea_list = [12, 32]
flo_list = [22, 14]
uncls_list = [9, 6]
value =  lea_list  + flo_list + uncls_list

led = ["Leader","Leader","Follower","Follower","Unclassifiable","Unclassifiable"]
sh_ta = ["Short","Tall","Short","Tall","Short","Tall"]
df = pd.DataFrame({"Height":sh_ta,"Class":led,"Value":value})

In [196]:
df

  Height           Class  Value
0  Short          Leader     12
1   Tall          Leader     32
2  Short        Follower     22
3   Tall        Follower     14
4  Short  Unclassifiable      9
5   Tall  Unclassifiable      6

In [197]:
table = pd.pivot_table(df, values='Value', index = 'Class', columns= 'Height', aggfunc = np.sum, margins=True)

In [199]:
table.rename(columns={'All':'Row_Total'}, inplace = True)
table.index = ["Follower","Leader","Unclassifiable","Col_Total"]

In [200]:
table

Height          Short  Tall  Row_Total
Follower           22    14         36
Leader             12    32         44
Unclassifiable      9     6         15
Col_Total          43    52         95

### Chi-Square test of independence 
- To Test:
   - H0 : The two categorical variables are independent.
   - H1 : The two categorical variables are dependent.

### Step 1: Observed frequencies
- Our data are summarized in the contingency table below reporting the number of people in each subgroup, totals by row, by column and the grand total:

In [204]:
obs_table = table.iloc[0:3,0:2]   
obs_table

Height          Short  Tall
Follower           22    14
Leader             12    32
Unclassifiable      9     6

### Step 2: Expected frequencies
- Remember that for the Chi-square test of independence we need to determine whether the observed counts are significantly different from the counts that we would expect if there was no association between the two variables. 
- We have the observed counts (see the table above), so we now need to compute the expected counts in the case the variables were independent. 
- These expected frequencies are computed for each subgroup one by one with the following formula:

 
![image](https://journal.ahima.org/wp-content/uploads/2015/10/Expected-Cell-Frequency-Equation.png)

In [206]:
exp_freq =  np.outer(table['Row_Total'][0:3], table.loc["Col_Total"][0:2]) / 95
exp_freq = pd.DataFrame(exp_freq)
exp_freq.columns = ["Short","Tall"]
exp_freq.index = ["Follower","Leader","Unclassifiable"]

- where obs. correspond to observations. Given our table of observed frequencies above, below is the table of the expected frequencies computed for each subgroup:

In [207]:
exp_freq

                    Short       Tall
Follower        16.294737  19.705263
Leader          19.915789  24.084211
Unclassifiable   6.789474   8.210526

### Step 3: Test statistic
- We have the observed and expected frequencies. We now need to compare these frequencies to determine if they differ significantly. The difference between the observed and expected frequencies, referred as the test statistic (or t-stat) and denoted Ï‡2, is computed as follows:
![image](https://www.thoughtco.com/thmb/ns7d4DC1AqVGme2p1-WYqC26r_s=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/latex_ac74fec08532861eb5f8b87226ebf396-5c59a6fcc9e77c00016b4195.jpg)

In [208]:
chi_squared_stat = (((obs_table-exp_freq)**2) / exp_freq).sum().sum()

print("Chi Squar : ",round(chi_squared_stat, 3))

Chi Squar :  10.712

### Step 4: Critical value
- The test statistic alone is not enough to conclude for independence or dependence between the two variables. As previously mentioned, this test statistic must be compared to a critical value to determine whether the difference is large or small. 
- The critical value can be found in the statistical table of the Chi-square distribution and depends on the significance level, denoted Î±Î±, and the degrees of freedom, denoted dfdf. The significance level is usually set equal to 5%. The degrees of freedom for a Chi-square test of independence is found as follow:

   **`df = (number of rows âˆ’ 1) â‹… (number of columns âˆ’ 1)`**

- In our example, the degrees of freedom is thus

In [209]:
df = ( 3 - 1) * ( 2 - 1 )
print("Degrees of Freedom: " ,df)

Degrees of Freedom:  2

- since there are three rows and two columns in the contingency table

In [210]:
cri_val = stats.chi2.ppf(q = 0.95, df = 2)   # 95% confidence
print("Critical value : ",round(cri_val, 3))

p_value = 1 - stats.chi2.cdf(x = chi_squared_stat, df = 2)
print("P value        :  ",round(p_value,4))
print()

Critical value :  5.991
P value        :   0.0047

- We now have all the necessary information to find the critical value in the Chi-square table (Î± = 0.05 and df = 2). 
- The critical value is `5.991`

#### Step 5: Conclusion and interpretation
- Now that we have the test statistic and the critical value, we can compare them to check whether the null hypothesis of independence of the variables is rejected or not. In our example,

    **`test statistic (10.712) > critical value (5.991)`**

- therefore **`reject the null hypothesis`** and conclude that The two categorical variables are dependent. at a 5% level of significance.

# ***Problem Statement 23:***
Each respondent in the Current Population Survey of March 1993 was classified as employed, unemployed, or outside the labor force. The results for men in California age 35- 44 can be cross-tabulated by marital status, as follows:
![image](image6.png)
Men of different marital status seem to have different distributions of labor force status. Or is this just chance variation? (you may assume the table results from a simple random sample.)

In [211]:
import numpy as np
import pandas as pd
import scipy.stats as stats

emp_list = [679, 103, 114]
unemp_list = [63, 10, 20]
no_list = [42, 18, 25]
value =  emp_list  + unemp_list + no_list

status = ["Employed","Employed","Employed","Unemployed","Unemployed","Unemployed","Not in labor fource","Not in labor fource","Not in labor fource"]
marri = ["Married","Widowes,divorce or separate","Never Married","Married","Widowes,divorce or separate","Never Married", "Married","Widowes,divorce or separate","Never Married"]
df = pd.DataFrame({"Married_status":marri,"Job_Status":status,"Value":value})

In [213]:
table = pd.pivot_table(df, values='Value', index = 'Job_Status', columns= 'Married_status', aggfunc = np.sum, margins=True)

In [220]:
table.rename(columns={'All':'Row_Total'}, inplace = True)
table.index = ["Employed","Not in labor fource","Unemployed","Col_Total"]

In [221]:
table

Married_status,Married,Never Married,"Widowes,divorce or separate",Row_Total
Employed,679,114,103,896
Not in labor fource,42,25,18,85
Unemployed,63,20,10,93
Col_Total,784,159,131,1074

### Chi-Square test of independence 
- To Test:
   - H0 : The two categorical variables are independent.
   - H1 : The two categorical variables are dependent.

### Step 1: Observed frequencies
- Our data are summarized in the contingency table below reporting the number of people in each subgroup, totals by row, by column and the grand total:

In [222]:
obs_table = table.iloc[0:3,0:3]   
obs_table

Married_status       Married  Never Married  Widowes,divorce or separate
Employed                 679            114                          103
Not in labor fource       42             25                           18
Unemployed                63             20                           10

### Step 2: Expected frequencies
- Remember that for the Chi-square test of independence we need to determine whether the observed counts are significantly different from the counts that we would expect if there was no association between the two variables. 
- We have the observed counts (see the table above), so we now need to compute the expected counts in the case the variables were independent. 
- These expected frequencies are computed for each subgroup one by one with the following formula:

 
![image](https://journal.ahima.org/wp-content/uploads/2015/10/Expected-Cell-Frequency-Equation.png)

In [223]:
exp_freq =  np.outer(table['Row_Total'][0:3], table.loc["Col_Total"][0:3]) / 1074
exp_freq = pd.DataFrame(exp_freq)
exp_freq.columns = ["Married","Never Married","Widowes,divorce or separate"]
exp_freq.index = ["Employed","Not in labor fource","Unemployed"]

- where obs. correspond to observations. Given our table of observed frequencies above, below is the table of the expected frequencies computed for each subgroup:

In [224]:
exp_freq

                        Married  Never Married  Widowes,divorce or separate
Employed             654.063315     132.648045                   109.288641
Not in labor fource   62.048417      12.583799                    10.367784
Unemployed            67.888268      13.768156                    11.343575

### Step 3: Test statistic
- We have the observed and expected frequencies. We now need to compare these frequencies to determine if they differ significantly. The difference between the observed and expected frequencies, referred as the test statistic (or t-stat) and denoted Ï‡2, is computed as follows:
![image](https://www.thoughtco.com/thmb/ns7d4DC1AqVGme2p1-WYqC26r_s=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/latex_ac74fec08532861eb5f8b87226ebf396-5c59a6fcc9e77c00016b4195.jpg)

In [225]:
chi_squared_stat = (((obs_table-exp_freq)**2) / exp_freq).sum().sum()

print("Chi Squar : ",round(chi_squared_stat, 3))

Chi Squar :  31.613

### Step 4: Critical value
- The test statistic alone is not enough to conclude for independence or dependence between the two variables. As previously mentioned, this test statistic must be compared to a critical value to determine whether the difference is large or small. 
- The critical value can be found in the statistical table of the Chi-square distribution and depends on the significance level, denoted Î±Î±, and the degrees of freedom, denoted dfdf. The significance level is usually set equal to 5%. The degrees of freedom for a Chi-square test of independence is found as follow:

   **`df = (number of rows âˆ’ 1) â‹… (number of columns âˆ’ 1)`**

- In our example, the degrees of freedom is thus

In [226]:
df = ( 3 - 1) * ( 3 - 1 )
print("Degrees of Freedom: " ,df)

Degrees of Freedom:  4

- since there are three rows and three columns in the contingency table

In [228]:
cri_val = stats.chi2.ppf(q = 0.95, df = 4)   # 95% confidence
print("Critical value : ",round(cri_val, 3))

p_value = 1 - stats.chi2.cdf(x = chi_squared_stat, df = 4)
print("P value        :  ",round(p_value,4))
print()

Critical value :  9.488
P value        :   0.0

- We now have all the necessary information to find the critical value in the Chi-square table (Î± = 0.05 and df = 4). 
- The critical value is `9.488`

#### Step 5: Conclusion and interpretation
- Now that we have the test statistic and the critical value, we can compare them to check whether the null hypothesis of independence of the variables is rejected or not. In our example,

    **`test statistic (31.613) > critical value (9.488)`**

- therefore **`reject the null hypothesis`** and conclude that  The two categorical variables are dependent. at a 5% level of significance.